@import "tailwindcss";

@theme {
  --color-bg-dark: oklch(0.1 0.045 251);
  --color-bg: oklch(0.15 0.045 251);
  --color-bg-light: oklch(0.2 0.045 251);
  --color-text: oklch(0.96 0.09 251);
  --color-text-muted: oklch(0.76 0.09 251);
  --color-text-secondary: oklch(0.6278 0.0198 245.54);
  --color-highlight: oklch(0.5 0.09 251);
  --color-border: oklch(0.4 0.09 251);
  --color-border-muted: oklch(0.3 0.09 251);
  --color-primary: oklch(0.76 0.1 251);
  --color-secondary: oklch(0.76 0.1 71);
  --color-danger: oklch(0.7 0.09 30);
  --color-warning: oklch(0.7 0.09 100);
  --color-success: oklch(0.7 0.09 160);
  --color-info: oklch(0.7 0.09 260);
  --background-image-gradient: linear-gradient(0deg,
      var(--color-bg) 97%,
      var(--color-bg-light));
  --background-image-gradient-hover: linear-gradient(0deg,
      var(--color-bg),
      var(--color-bg-light));
  --shadow-shadow: 0px 2px 2px oklch(0 0 0 / 0.2),
    0px 4px 4px oklch(0 0 0 / 0.1);
}

body {
  background-color: var(--color-bg);
  font-family: "Outfit Variable", sans-serif;
}